/********************************
BUTTONS STYLE
********************************/
ul {
    list-style: none;
}

li {
    display: inline-block;
    margin: 10px;
}

/********************************
BACKGROUND & DIVs
*******************************/
body {
    background-color: whitesmoke;
}

#content-div {
    padding: 40px 0px 0px 200px;
    margin-top: 40px;
    margin-left: 300px;
    background-color: lightseagreen;
    border: 3px solid lightslategray;
    height: 250px;
    width: 500px;
    border-radius: 20px;
}

#printedContent {
    padding: 40px 0px 0px 200px;
    margin-left: 300px;
    margin-top: 5px;
    background-color: pink;
    border: 3px solid lightslategray;
    height: 150px;
    width: 500px;
    border-radius: 20px;
}

/********************************
HEADING TAGS
*******************************/
h1 {
    margin-top: 5px;
    padding-left: 10px;
}
